/* FONTS */
@import url('https://fonts.cdnfonts.com/css/star-wars');

/* Button Colors */
/* HOME */
#btn-home button {
  display:block;
  width:100px;
  height:100px;
  line-height:80px;
  border: 2px solid green;
  border-radius: 50%;
  color: black;
  text-align:center;
  text-decoration:none;
  background: green;
  box-shadow: 0 0 3px green;
  font-size:20px;
  font-weight:bold;
}

/* Add a background color on hover */
#btn-home button:hover {
  background-color: #3e8e41;
  cursor: pointer;
}

/* ABOUT ME */
#btn-horror button {
  border:none;
  background:inherit;
  display:block;
  color: green;
  text-align:center;
  text-decoration:none;
  font-size:20px;
  font-weight:bold;
  position:relative;
  left: 32%;
}

#btn-horror button:hover {
  font-family: 'Star Wars', sans-serif;
  background: black;
  color: yellow;
  text-align:center;
  text-decoration:none;
  font-size:20px;
  font-weight:bold;
  cursor: pointer;
  left:24%;
}

/* PROJECTS */
#btn-starwars button {
  border:none;
  background:inherit;
  display:block;
  color: green;
  text-align:center;
  text-decoration:none;
  font-size:20px;
  font-weight:bold;
  position:relative;
}

#btn-starwars button:hover {
  background:transparent url("sword.png") no-repeat;
  background-size: cover;
  width:100px;
  height:100px;
  cursor:pointer;
}

/* TUTORIALS */
#btn-stargate button {
  border:none;
  background:inherit;
  display:block;
  color: green;
  text-align:center;
  text-decoration:none;
  font-size:20px;
  font-weight:bold;
  position:relative;
}

#btn-stargate button:hover {
  background:transparent url("stargate.png") no-repeat;
  background-size: cover;
  width:100px;
  height:100px;
  cursor: pointer;
}

/* CONTACT */
#btn-matrix button {
  border:none;
  background:inherit;
  display:block;
  color: green;
  text-align:center;
  text-decoration:none;
  font-size:20px;
  font-weight:bold;
  position:relative;
  left: 35%;
}

#btn-matrix button:hover {
  cursor: pointer;
}

/* ********************************************************************** */

/* General work on div with buttons */

.btn-circle button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-circle:after {
  content: "";
  clear: both;
  display: table;
}

.btn-circle {
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.inner {
  display:inline-block;
}